html {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

nav > a {
    color: black;
    cursor: pointer;
}

body {
    font-family: 'Anonymous Pro', monospace;
    max-width: 800px;

}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

#action-buttons-div > button {
    border: 1px solid black;
    font-family: 'Anonymous Pro', monospace;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    cursor: pointer;
}

#action-buttons-div > button:hover {
    background-color: black;
    color: white;
}

#time-buttons > button {
    border: 1px solid black;
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(176, 240, 133);
    padding: 5px;
    cursor: pointer;
}

#time-buttons > button:hover {
    background-color: black;
    color: white;
}


img {
    width: 150px;
    cursor: pointer;
}

input {
    display: none;
}

input[type="radio"]:checked + img {
    transform: scale(1.3);
    transition: all .05s ease-in-out;
}

#action-buttons-div, #time-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat-box {
    border: 1px solid black;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

#time-and-chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    padding-bottom: 50px;
}

#ferm-gallery {
    border: 1px dotted black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding: 15px;
}

.dead {
    cursor: default;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
         filter: grayscale(100%);
}

#toilet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    filter: drop-shadow(10px 10px 10px gray)
}