html {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}

header {
    font-family: 'Amatic SC', cursive;
}

body {
    font-family: 'Anonymous Pro', monospace;
}

img {
    width: 400px;
}

button {
    border: 1px solid black;
    font-family: 'Anonymous Pro', monospace;
    background-color: white;
    padding: 5px;
}

button:active, button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}