html {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

header {
    font-family: 'Amatic SC', cursive;
}

body {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

main {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

img {
    width: 150px;

}

a {
    border: 1px solid black;
    font-family: 'Anonymous Pro', monospace;
    background-color: white;
    padding: 5px 10px;
    font-size: .8em;
    background-color: lightgoldenrodyellow;
    margin: 5px 0px;
    text-decoration: none;
    color: black;
}

a:active, a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 30px;
    justify-content: center;
}

.member-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    align-items: center;
}


.member-about {
    font-size: .8em;
}
